@model CapaEntidad.Producto
@{
    ViewBag.Title = "DetalleProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="data:image/@Html.DisplayTextFor(m => m.Extension);base64, @Html.DisplayTextFor(m => m.Base64)" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Marca: @Html.DisplayTextFor(m => m.idMarca.descripcion)</div>
                <h1 class="display-5 fw-bolder">@Html.DisplayTextFor(m => m.nombre)</h1>
                <div class="fs-5 mb-5">
                    @*<span class="text-decoration-line-through">$45.00</span>*@
                    <span>$: @Html.DisplayTextFor(m => m.precio)</span>
                </div>
                <p class="lead">@Html.DisplayTextFor(m => m.descripcion)</p>

                <div class="d-flex">
                    <a href="@Url.Action("Index", "Tienda")" class="btn btn-danger w-50 text-center me-3">
                        <i class="fas fa-undo-alt"></i> Volver
                    </a>

                    @if (Session["Cliente"] != null && Model.stock != 0)
                    {

                        <button class="btn btn-success agregarCarrito flex-shrink-0 w-50"  type="button" data-idproducto="@Html.DisplayTextFor(m => m.idProducto)">
                            <i class="fas fa-cart-plus"></i>
                            Agregar al Carrito
                        </button>

                    }


                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    
    <script>

        //Este metodo hace: Cada vez que se haga click en el boton que tenga la clase "agregarCarrito", agrega un producto al carrito
        $(document).on("click", "button.agregarCarrito", function () {

            //console.log($(this).data("idproducto"))

            jQuery.ajax({

                url: "@Url.Action("AgregarCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idProducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //  "data" es una variable para acceder a las variables del metodo del Controlador, en este caso "AgregarCarrito" del controlador "Tienda". las Propiedades de la variable data se deben llamar por el mismo nombre declarado en el controlador
                    if (data.respuesta) {

                        //Este metodo esta declarado en la pagina Maestra "Layout" entonces como index esta referenciada a "layout" se puede llamar a los metodos declarados en layout
                        MostrarCantidadCarrito();

                        //SweetAlert para agregar al carrito

                        @*swal({

                            title: "Agregado al Carrito",
                            text: "¿Desea ir al Carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true,

                        }, function () {
                            //Redireccion a pagina del carrito
                            window.location.href = '@Url.Action("Carrito", "Tienda")'

                        })*@
                        swal("", "Agregado al Carrito", "success");

                    } else {
                        //SweetAlert
                        swal("", data.mensaje, "warning");
                    }

                }

            });

        })



    </script>

    
    
}
