@{
    ViewBag.Title = "Home Page";
}
@*<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
</head>*@
<style>
    .pdfButton{
        color: red;
    }
</style>

<h1 class="mt-4 mb-4">Resumen de Ventas</h1>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Clientes</h6>
                        <h6 id="totalCliente">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Ventas</h6>
                        <h6 id="totalVentas">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-shopping-bag fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Productos</h6>
                        <h6 id="totalProductos">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas
    </div>
    <div class="card-body">
        <form action="@Url.Action("ExportarVenta", "Home")" method="post">
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="text" name="fechaInicio" id="txtFechaInicio" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin:</label>
                        <input class="form-control" type="text" name="fechaFin" id="txtFechaFin" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">ID Transaccion:</label>
                        <input class="form-control" type="text" name="idTransaccion" id="txtIdTransaccion" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2 d-grid">
                        <button class="btn btn-primary" id="btnBuscar" type="button"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                @*<div class="col-sm-2">
                    <div class="mb-2 d-grid">
                        <button class="btn btn-success" type="submit"><i class="fa fa-file-excel"></i> Exportar</button>
                    </div>
                </div>*@
            </div>
        </form>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table id="tabla" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha Venta</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>ID Transaccion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="card mb-5">
        <div class="card-header">
            Productos mas Vendidos del Mes
        </div>
        <div class="card-body">
            <div class="row align-items-sm-start">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Seleccione Mes:</label>
                        <select class="form-control" id="cboMes">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2 d-grid">
                        <label class="form-label">Buscar:</label>
                        <button class="btn btn-primary" id="btnBuscarReporte" type="button"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
            <hr />
            <canvas id="ProductosMasVendidosChart" width="100" height="50"></canvas>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            Resumen de Ventas y Montos por Fecha
        </div>
        <div class="card-body">
            <div class="row align-items-sm-start">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="text" name="fechaInicioVenta" id="txtFechaInicioVenta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin:</label>
                        <input class="form-control" type="text" name="fechaFinVenta" id="txtFechaFinVenta" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2 d-grid">
                        <label class="form-label">Buscar:</label>
                        <button class="btn btn-primary" id="btnBuscarVenta" type="button"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
            <hr />
            <canvas id="VentasPorMesChart" width="100" height="50"></canvas>
        </div>
    </div>*@




@section scripts{

    <script src="https://cdn.datatables.net/plug-ins/1.12.1/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>


    <script>

            var tabladata;

            //variables para grafico de fechas
            var UrlVenta;
            var controlBar;
            var graficoBar;

            //variables para grafico de cantidad

            var controlBar2;
            var graficoBar2;

            $(document).ready(function () {


                //LLAMADO A LOS INPUTS PARA PODER ELEGIR FECHAS CON UN DATEPICKER CON LA LIBRERIA JQUERY.UI
                $("#txtFechaInicio").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date('01/01/2022'))
                $("#txtFechaFin").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date())

                jQuery.ajax({
                    url: '@Url.Action("VistaDashboard", "Home")',
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var objeto = data.resultado;

                        $("#totalCliente").text(objeto.totalCliente)
                        $("#totalVentas").text(objeto.totalVenta)
                        $("#totalProductos").text(objeto.totalProducto)
                    }
                });


                var Url = '@Url.Action("ListaReporte", "Home")' +
                    "?fechaInicio=" + $("#txtFechaInicio").val() +
                    "&fechaFin=" + $("#txtFechaFin").val() +
                    "&idTransaccion=" + $("#txtIdTransaccion").val()


                $.fn.dataTable.moment('DD/MM/YYYY');
                tabladata = $("#tabla").DataTable({
                    responsive: true,
                    ordering: true,
                    order: [[0, 'desc']],
                    "ajax": {
                        url: Url,
                        type: "GET",
                        dataType: "json"
                    },
                    "columns": [
                        { "data": "fechaVenta" },
                        { "data": "cliente" },
                        { "data": "producto" },
                        { "data": "precio" },
                        { "data": "cantidad" },
                        { "data": "total" },
                        { "data": "idTransaccion" }

                    ],
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                    },
                    columnDefs: [
                        {
                            targets: 3,
                            render: $.fn.dataTable.render.number('.', ',', 2, ''),
                            className: 'dt-body-right'
                        },
                        {
                            targets: 5,
                            render: $.fn.dataTable.render.number('.', ',', 2, ''),
                            className: 'dt-body-right'
                        },
                        {
                            targets: 4,
                            className: 'dt-body-right'
                        }
                    ],
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'pdf',
                            text: '<i class="fas fa-file-pdf"></i> Exportar a PDF',
                            titleAttr: 'Exportar a PDF',
                            className: 'ms-3 btn btn-danger',

                        },
                        {
                            extend: 'excel',
                            text: '<i class="fas fa-file-excel"></i> Exportar a Excel',
                            titleAttr: 'Exportar a Excel',
                            className: 'btn btn-success',

                        }
                    ]
                });

            })

            $("#btnBuscar").on("click", function () {

                var nuevaUrl = '@Url.Action("ListaReporte", "Home")' +
                    "?fechaInicio=" + $("#txtFechaInicio").val() +
                    "&fechaFin=" + $("#txtFechaFin").val() +
                    "&idTransaccion=" + $("#txtIdTransaccion").val()

                tabladata.ajax.url(nuevaUrl).load();

            })

            //GRAFICO DE CANTIDAD DE PRODUCTOS POR MES

            @*var fecha = new Date().getMonth() + 1

            var URLProductos = '@Url.Action("ReporteProductosMasVendidos", "Home")' + "?mes=" + fecha

            $("#cboMes").val(fecha)

            jQuery.ajax({
                url: URLProductos,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var arrayMeses = [];
                    var arrayCantidad = [];
                    var arrayProducto = [];

                    for (var i = 0; i < data.length; i++) {

                        arrayMeses.push(data[i].mes)
                        arrayCantidad.push(data[i].cantidad)
                        arrayProducto.push(data[i].producto)

                    }

                    controlBar2 = document.getElementById("ProductosMasVendidosChart");

                    graficoBar2 = new Chart(controlBar2, {
                        type: 'bar',
                        data: {
                            labels: arrayProducto,
                            datasets: [{
                                label: "Cantidad",
                                backgroundColor: ["#13eb78b3", "#1386ebb3", "#6613ebb3", "#eb1349b3", "#eb9813dc"],
                                data: arrayCantidad,

                            }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        display: true,
                                    }
                                }],
                                yAxes: [{
                                    gridLines: {
                                        display: false
                                    },
                                    position: 'left',
                                    ticks: {
                                        beginAtZero: true,
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: arrayMeses[0] == null ? 'No se han encontrado resultados' : 'Cantidad de Productos de ' + arrayMeses[1],
                                position: 'top',
                                fontSize: 25,
                            }
                        }

                    })


                }
            });

            $("#btnBuscarReporte").on("click", function () {

                var URLProductos2 = '@Url.Action("ReporteProductosMasVendidos", "Home")' + "?mes=" + $('#cboMes').val()

                jQuery.ajax({
                    url: URLProductos2,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        var arrayMeses = [];
                        var arrayCantidad = [];
                        var arrayProducto = [];

                        for (var i = 0; i < data.length; i++) {

                            arrayMeses.push(data[i].mes)
                            arrayCantidad.push(data[i].cantidad)
                            arrayProducto.push(data[i].producto)

                        }

                        graficoBar2.destroy()

                        controlBar2 = document.getElementById("ProductosMasVendidosChart");

                        graficoBar2 = new Chart(controlBar2, {
                            type: 'bar',
                            data: {
                                labels: arrayProducto,
                                datasets: [{
                                    label: "Cantidad",
                                    backgroundColor: ["#13eb78b3", "#1386ebb3", "#6613ebb3", "#eb1349b3", "#eb9813dc"],
                                    data: arrayCantidad,

                                }]
                            },
                            options: {
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: true,
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        position: 'left',
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }]
                                },
                                title: {
                                    display: true,
                                    text: arrayMeses[0] == null ? 'No se encontraron resultados' : 'Cantidad de Productos de ' + arrayMeses[1],
                                    position: 'top',
                                    fontSize: 25,
                                }

                            }

                        })


                    }
                });

            })

            // GRAFICO DE LAS VENTAS

            //LLAMADO A LOS INPUTS PARA PODER ELEGIR FECHAS CON UN DATEPICKER CON LA LIBRERIA JQUERY.UI
            $("#txtFechaInicioVenta").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date(new Date().getFullYear(), 0, 1))
            $("#txtFechaFinVenta").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date())

            UrlVenta = '@Url.Action("ReporteVentasporMes", "Home")' +
                    "?fechaInicio=" + $("#txtFechaInicioVenta").val() +
                    "&fechaFin=" + $("#txtFechaFinVenta").val()

            jQuery.ajax({
                url: UrlVenta,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var arrayMeses = [];
                    var arrayCantidad = [];
                    var arrayMonto = [];

                    for (var i = 0; i < data.length; i++) {

                        arrayMeses.push(data[i].mes)
                        arrayCantidad.push(data[i].cantidad)
                        arrayMonto.push(data[i].monto)

                    }

                    controlBar = document.getElementById("VentasPorMesChart");

                    graficoBar = new Chart(controlBar, {
                        type: 'bar',
                        data: {
                            labels: arrayMeses,
                            datasets: [{
                                label: "Ventas",
                                backgroundColor: "#13eb78b3",
                                data: arrayCantidad,
                                yAxisID: 'A',

                            },
                            {
                                label: "Monto",
                                backgroundColor: "#6613ebb3",
                                data: arrayMonto,
                                yAxisID: 'B',

                            }
                            ]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        display: true,
                                    }
                                }],
                                yAxes: [{
                                    gridLines: {
                                        display: false
                                    },
                                    id: 'A',
                                    position: 'left',
                                    ticks: {
                                        beginAtZero:true,
                                    }
                                },
                                {
                                    id: 'B',
                                    position: 'right',
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: arrayMeses[0] == null ? 'No se encontraron resultados' : 'Mostrando resultados desde ' + $("#txtFechaInicioVenta").val() + ' hasta ' + $("#txtFechaFinVenta").val(),
                                position: 'top',
                                fontSize: 25,
                            }
                        }

                    })


                }
            });

            $("#btnBuscarVenta").on("click", function () {

                UrlVenta = '@Url.Action("ReporteVentasporMes", "Home")' +
                    "?fechaInicio=" + $("#txtFechaInicioVenta").val() +
                    "&fechaFin=" + $("#txtFechaFinVenta").val()

                jQuery.ajax({
                    url: UrlVenta,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data, chart, label) {

                        var arrayMeses = [];
                        var arrayCantidad = [];
                        var arrayMonto = [];

                        for (var i = 0; i < data.length; i++) {

                            arrayMeses.push(data[i].mes)
                            arrayCantidad.push(data[i].cantidad)
                            arrayMonto.push(data[i].monto)
                        }

                        graficoBar.destroy()

                        controlBar = document.getElementById("VentasPorMesChart");

                        graficoBar = new Chart(controlBar, {
                            type: 'bar',
                            data: {
                                labels: arrayMeses,
                                datasets: [{
                                    label: "Ventas",
                                    backgroundColor: "#13eb78b3",
                                    data: arrayCantidad,
                                    yAxisID: 'A',

                                },
                                {
                                    label: "Monto",
                                    backgroundColor: "#6613ebb3",
                                    data: arrayMonto,
                                    yAxisID: 'B',

                                }
                                ]
                            },
                            options: {
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            display: true,
                                        }
                                    }],
                                    yAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        id: 'A',
                                        position: 'left',
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    },
                                    {
                                        id: 'B',
                                        position: 'right',
                                        gridLines: {
                                            display: false
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }]
                                },
                                title: {
                                    display: true,
                                    text: arrayMeses[0] == null ? 'No se encontraron resultados' : 'Mostrando resultados desde ' + $("#txtFechaInicioVenta").val() + ' hasta ' + $("#txtFechaFinVenta").val(),
                                    position: 'top',
                                    fontSize: 25,
                                }
                            }

                        })

                    }
                });

            })*@


    </script>

}
